.woocommerce .col2-set .col-1,
.woocommerce-page .col2-set .col-1 {
    width: calc(100% - 355px) !important;
}
.woocommerce .col2-set .col-2,
.woocommerce-page .col2-set .col-2 {
    width: 325px !important;
}
.woocommerce-checkout form.checkout.woocommerce-checkout {
    width: 100%;
}
.woocommerce-checkout .cc-habib-order-summray h2 {
    color: #fff;
    font-size: 28px;
    line-height: 54px;
    font-family: 'Inter', sans-serif;
    margin-bottom: 4px;
    font-weight: 400;
    padding-bottom: 0;
}
.woocommerce-checkout .cc-habib-order-summray p {
    color: #acacac;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 28px;
}
.woocommerce-checkout .cc-habib-product-table {
    border: 1px solid #404040;
    background-color: #000;
    padding: 32px 20px;
    margin-bottom: 22px;
}
.woocommerce-checkout .cc-habib-product-table h3 {
    color: #fff;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    font-size: 19px;
    line-height: 26px;
    margin-bottom: 32px;
    padding-bottom: 0;
}
.woocommerce-checkout .cc-habib-product-table table {
    width: 100%;
    border: none !important;
}
.woocommerce-checkout .cc-habib-product-table table tr th {
    color: #fff;
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 3.4px;
    font-family: 'Inter', sans-serif;
    padding: 20px !important;
    border: none !important;
}
.woocommerce-checkout .cc-habib-product-table table tr td {
    padding: 20px;
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    border-top: 1px solid #474747;
}
.woocommerce-checkout .cc-habib-product-table table tr td:nth-child(2) {
    color: #acacac;
}
.woocommerce-checkout .cc-habib-product-table table tr td div {
    display: flex;
}
.woocommerce-checkout .cc-habib-product-table table tr td div img {
    width: 57px;
    height: 57px;
    margin-right: 12px;
}
.woocommerce-checkout .cc-habib-product-table table tr td div h3 {
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 0;
}
.woocommerce-checkout .woocommerce-billing-fields {
    border: 1px solid #404040;
    padding: 32px 20px;
    background-color: #0d0d0d;
}
.woocommerce-checkout .woocommerce-billing-fields h3 {
    color: #fff;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    font-size: 19px;
    line-height: 26px;
    margin-bottom: 32px;
    padding-bottom: 0;
}
.woocommerce-checkout .woocommerce-billing-fields .form-row input {
    padding: 10px 12px !important;
    margin-bottom: 22px !important;
    color: #fff !important;
    border-color: #a3a3a3 !important;
}
.woocommerce-checkout .woocommerce-billing-fields .form-row input::placeholder {
    color: #848484;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    line-height: 19px;
}
.woocommerce-checkout .woocommerce-billing-fields .form-row .select2-selection {
    margin-bottom: 22px !important;
}
.woocommerce-checkout
    .woocommerce-billing-fields
    .form-row
    .select2-container--default
    .select2-selection--single {
    border-color: #a3a3a3 !important ;
}
.woocommerce-checkout #order_review_heading {
    display: none !important;
}
.woocommerce-checkout
    .woocommerce-checkout-review-order
    .woocommerce-checkout-review-order-table {
    display: none !important;
}
.woocommerce-checkout #payment ul.payment_methods {
    border-bottom: none !important;
}
.woocommerce-checkout .woocommerce-privacy-policy-text p {
    font-family: 'Roboto', sans-serif;
    color: #acacac;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}
.woocommerce-checkout .woocommerce-privacy-policy-text p a {
    color: #acacac !important;
    text-decoration: underline !important;
}
.woocommerce-checkout .woocommerce-custom-shipping-fields {
    border: 1px solid #404040;
    padding: 32px 20px;
    background-color: #0d0d0d;
    margin-bottom: 22px;
    width: calc(100% - 355px) !important;
}

.woocommerce-checkout .woocommerce-custom-shipping-fields .form-row input {
    padding: 10px 12px !important;
    margin-bottom: 22px !important;
    color: #fff !important;
    border-color: #a3a3a3 !important;
}
.woocommerce-checkout
    .woocommerce-custom-shipping-fields
    .form-row
    input::placeholder {
    color: #848484;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    line-height: 19px;
}
.woocommerce-checkout
    .woocommerce-custom-shipping-fields
    .form-row
    .select2-selection {
    margin-bottom: 22px !important;
}
.woocommerce-checkout .woocommerce-custom-shipping-fields .form-row label {
    display: none !important;
}
.woocommerce-checkout .woocommerce-custom-shipping-fields select {
    height: 45px;
    background: #000;
    padding: 10px;
    margin-bottom: 22px !important;
}
.woocommerce-checkout
    .woocommerce-custom-shipping-fields
    input[type='checkbox'] {
    margin-bottom: 0 !important;
    width: 24px;
    height: 24px;
    background: #fff;
}
.woocommerce-checkout
    .woocommerce-custom-shipping-fields
    .woocommerce-input-wrapper
    label.checkbox {
    display: block !important;
}
.woocommerce-checkout .woocommerce-checkout-payment {
    width: calc(100% - 355px) !important;
    border: 1px solid #404040 !important;
    padding: 32px 20px;
    background-color: #0d0d0d;
}
.woocommerce-checkout .shipping-address-fields {
    margin-top: 22px;
}
.woocommerce-checkout .cc-habib-ourder-summery-section {
    background-color: #232323;
    border: 1px solid #ffffff;
    padding: 32px 20px;
}
.woocommerce-checkout .cc-habib-ourder-summery-section h3 {
    color: #fff;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    font-size: 19px;
    line-height: 26px;
    margin-bottom: 0;
    padding-bottom: 0;
}
.woocommerce-checkout .cc-habib-order-summer-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
}
.woocommerce-checkout .cc-habib-order-summer-row p {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
}
.woocommerce-checkout .cc-habib-order-summer-row.cc-habib-total-order {
    padding-top: 16px;
    border-top: 1px solid #404040;
}
.woocommerce-checkout .cc-habib-order-summer-row.cc-habib-total-order p {
    font-size: 20px;
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
}
.woocommerce-checkout .woocommerce-checkout-payment .form-row #place_order {
    display: none !important;
}
.woocommerce-checkout .cc-habib-complete-purchase {
    display: block !important;
    margin-top: 32px !important;
    font-family: 'Inter', sans-serif !important;
    width: 100% !important;
    padding: 16px !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    text-align: center !important;
    letter-spacing: 3.4px !important;
}
.woocommerce-checkout
    .cc-habib-ourder-summery-section
    .cc-habib-order-summery-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 22px;
}
.woocommerce-checkout .cc-habib-order-summery-additional-images {
    margin-top: 12px;
}
.woocommerce-checkout
    .cc-habib-order-summery-additional-images
    .cc-habib-images-top {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 17px;
    margin-bottom: 22px;
}
.woocommerce-checkout
    .cc-habib-order-summery-additional-images
    .cc-habib-images-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}
.woocommerce-checkout .cc-habib-shipping-methods {
    width: 100%;
    background-color: #0d0d0d;
    padding: 6px;
    color: #acacac;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    font-family: 'Inter', sans-serif !important;
    margin-bottom: 17px !important;
}
.woocommerce-checkout .cc-habib-shipping-methods option {
    color: #acacac;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    font-family: 'Inter', sans-serif !important;
}
.woocommerce-checkout .cc-habib-slider-wraper-container {
    margin-top: 32px;
}
.woocommerce-checkout .cc-habib-slider-wraper-container h4 {
    color: #fff;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 30px;
    padding-bottom: 0;
}
.woocommerce-checkout
    .cc-habib-slider-wraper-container
    .cc-habib-slider-desc
    p {
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 28px;
    margin-bottom: 22px;
}
.woocommerce-checkout .cc-habib-slider-wraper-container .slick-dots {
    margin-top: 15px;
    text-align: left;
}
.woocommerce-checkout .cc-habib-slider-wraper-container .slick-dots li {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background: #4c4c4c;
}
.woocommerce-checkout .cc-habib-slider-wraper-container .slick-dots li button {
    display: none;
}
.woocommerce-checkout
    .cc-habib-slider-wraper-container
    .slick-dots
    li.slick-active {
    background: #fff;
}
.woocommerce-checkout .cc-habib-order-summery-additional-images-responsive {
    display: none;
}
.woocommerce-checkout .cc-habib-responsive-place-order {
    display: none;
}
.woocommerce-checkout .cc-habib-responsive-quantity {
    display: none !important;
}
.woocommerce-checkout .cc-habib-place-order-and-price-wrapper {
    display: none;
}
.woocommerce-checkout .cc-habib-product-name-quantity-price {
    align-items: center;
    justify-content: center;
}

/* Responsive Design */
@media screen and (max-width: 991px) {
    .woocommerce .col2-set .col-1,
    .woocommerce-page .col2-set .col-1 {
        width: 100% !important;
    }
    .woocommerce-checkout .woocommerce-custom-shipping-fields {
        width: 100% !important;
    }
    .woocommerce-checkout .woocommerce-checkout-payment {
        width: 100% !important;
    }
    .woocommerce .col2-set .col-2,
    .woocommerce-page .col2-set .col-2 {
        width: 100% !important;
    }
    .woocommerce-page .col2-set .col-2 {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        margin-bottom: 0 !important;
        z-index: 10000;
    }
    .woocommerce-checkout .cc-habib-slider-wraper-container {
        display: none !important;
    }
    .woocommerce-checkout .cc-habib-order-summery-additional-images {
        display: none !important;
    }
    .woocommerce-checkout
        .cc-habib-ourder-summery-section
        .cc-habib-order-summery-header,
    .woocommerce-checkout .cc-habib-order-summer-row {
        display: none !important;
    }
    .woocommerce-checkout .cc-habib-ourder-summery-section {
        border: none !important;
        border-top: 1px solid #ffffff !important;
        padding: 20px 16px 16px 16px !important;
    }
    .woocommerce-checkout .cc-habib-order-summery-additional-images-responsive {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;
        margin-bottom: 10px;
    }
    .woocommerce-checkout
        .cc-habib-order-summery-additional-images-responsive
        img {
        width: 50px;
        height: auto;
    }
    .woocommerce-checkout .cc-habib-complete-purchase {
        display: none !important;
    }
    .woocommerce-checkout .cc-habib-responsive-place-order {
        display: block;
    }
    .woocommerce-checkout .cc-habib-place-order-and-price-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 26px;
    }
    .woocommerce-checkout
        .cc-habib-place-order-and-price-wrapper
        .cc-habib-responsive-price
        p {
        color: #acacac;
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 26px;
    }
    .woocommerce-checkout
        .cc-habib-place-order-and-price-wrapper
        .cc-habib-responsive-price
        span {
        font-weight: 700;
        font-family: 'Inter', sans-serif;
        font-size: 20px;
        line-height: 26px;
    }
    .woocommerce-checkout .cc-habib-product-table table tr th:nth-child(2),
    .woocommerce-checkout .cc-habib-product-table table tr th:nth-child(3),
    .woocommerce-checkout .cc-habib-product-table table tr td:nth-child(2),
    .woocommerce-checkout .cc-habib-product-table table tr td:nth-child(3) {
        display: none;
    }
    .woocommerce-checkout .cc-habib-order-summray h2 {
        line-height: 40px;
    }
    .woocommerce-checkout .cc-habib-responsive-quantity {
        display: flex !important;
    }
    .woocommerce-checkout .cc-habib-responsive-quantity p {
        color: #acacac;
        font-size: 12px;
        font-family: 'Inter', sans-serif;
        font-weight: 500;
        line-height: 26px;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .woocommerce-checkout .cc-habib-product-name-quantity-price {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
}
